@import "variables";
@import "extends";
@import "mixins";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");

.menu {
  &__logo {
    height: 50px;
    padding-right: 8px;
  }
  &__item {
    &__link {
      color: greenyellow;
      &--current {
        color: fuchsia;
      }
    }
  }
}
